body{
    background: url(/QR-code-generator/img/kling_20251226_Image_to_Video_make_the_v_216_0.mp4);
    text-align: center;
    padding: 5% 20% 0px 20%;
}

.bg-video {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.container{
    display: block;
    align-items: center;
    width: 90%;
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    padding: 20px 20px 20px 20px;
    background: rgb(39, 39, 39, 0.7);
    border: 2px solid rgb(39, 39, 39) ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

#heading{
    background-color: rgb(26, 26, 26, 0.73);
    color: whitesmoke;
    font-size: 30px;
    letter-spacing: 5px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: 2px solid rgb(26, 26, 26) ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.main {
    font-family: "Archivo", sans-serif  !important;
    font-size: 20px !important;
    display: flexbox;
    justify-content: center;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgb(26, 26, 26, 0.73);
    padding: 50px 20px 50px 20px;
    margin: 20px 20px 20px 20px;
    border: 2px solid rgb(26, 26, 26);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

#text{
    width: 80%;
    height: 50px;
    resize: none;
    font-size: 16px;
    margin: 10px 10px -10px 10px;
    font-style: italic;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
}

.logobutton{
    display: flex;
    justify-content: flex-end;
    padding-right: 65px;
}

#file-upload{
    margin: -10px 10px 10px 10px;
    font-size: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 16px;
    background-color: rgb(55, 55, 55);    
}

#file-upload:hover {
    background-color: rgb(23, 23, 23);
    color: whitesmoke;
}

#generate-button {
    background-color: rgb(100, 6, 100);
    margin: 10px 10px 10px 10px;
    color: whitesmoke;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

#generate-button:hover {
    background-color: rgb(152, 10, 152);
    color: white;
    box-shadow: 0px 0px 5px black;
}

