<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Spinnaker&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</head>
<body>
    <video autoplay muted loop playsinline class="bg-video">
        <source src="{{ url_for('static', filename='videos/bg1.mp4') }}" type="video/mp4">
    </video>

    <div class="container">
        <h2 id="heading">QR CODE GENERATOR</h2>

        <form id="qrForm" enctype="multipart/form-data">
            <div class="main">
                <textarea name="data" id="text" placeholder="Enter your Text/URL" required fixed></textarea><br><br>
                <div class="logobutton">
                    <label id="file-upload">
                        Choose Logo <input type="file" name="logo" accept="image/*" required hidden>
                    </label>
                </div>
                <br><br>

                <button type="button" id="generate-button" onclick="handleGenerate()">Generate QR</button>
            </div>
        </form>

        {% if qr_image_url %} 
            <div class="preview">
                <h3>Preview</h3>
                <img src="{{ qr_image_URL }}" alt="Qr code" width="250"><br><br>

                <a href="{{ qr_image_URL }}" download>
                    <button>DOWNLOAD QR</button>
                </a>
            </div>
        {% endif %}
    </div>

    <div id="previewModal" class="modal hidden">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal()">x</span>

            <h3>QR CODE</h3>

            <img id="qrPreview" alt="QR Preview">

            <div class="modal-actions">
                <a id="downloadBtn" download class="action-btn">Download</a>
                <button onclick="shareQR()" class="action-btn secondary">Share</button>
            </div>
        </div>
    </div>
</body>
</html>